{% extends "bb-base.html" %}

{% block html-title %}organization manager{% endblock %}

{% block fancy-header %}org manager{% endblock %}

{% block app-nav %}
	<li class=""><a href="/webapps/organization-manager/"><div>home</div></a></li>
	<li class=""><a href="/webapps/organization-manager/"><div>create</div></a></li>	
	<li class=""><a href="/webapps/organization-manager/"><div>my orgs</div></a></li>
	<li class=""><a href="/webapps/organization-manager/"><div>all orgs</div></a></li>
{% endblock %}


